       <div id="page-header">
         <h1>Page name <small>Supporting text or tagline</small></h1>
       </div>
		<table>
			<tr align="left">
				<th>Items</th>
				<th>Category</th>
				<th>Neighborhood</th>
				<th>Price</th>
			</tr>			
		</table>


     <footer>
       <p>&copy; Company 2011</p>
     </footer>



